[Unit]
Description=ThinPi appliance
Requires=multi-user.target thinpi-agent.service thinpi-ui.service
Wants=network-online.target
After=multi-user.target network-online.target thinpi-agent.service
AllowIsolate=yes
